/*Whats up Rachel I made a style sheet*/

/* I used this website to help me center the background: https://css-tricks.com/perfect-full-page-background-image/
*/
#back3 {
  position: fixed;
  top: -100%;
  left: -100%;
  width: 400%;
  height: 400%;
  z-index: -4;
}
#back3 img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#back4 {
  position: fixed;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 93%;
  height: 100%;
  z-index: -2;
}
#back4 img {
  position: absolute;
  display: block;
  top: 0;
  left: 2.5%;
  bottom: 0%;
  right: 0;
  width: 100%;
  height: 89%;
  box-shadow: 10px 10px 20px black;
}
